.palette-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  box-shadow: 0px 12px 37px 5px #d8d8d863;
}
.palette {
  /* height: 100vh; */
}
.palette-hero img {
  width: 18%;
}

.palette-colors {
  height: 100%;
  margin: 10px;
  display: flex;
}
